<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="graduation_quickorderingsystem_quickorders_listing_data_source" xsi:type="string">Graduation\QuickorderingSystem\Model\ResourceModel\Quickorders\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Graduation\QuickorderingSystem\Model\ResourceModel\Quickorders\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">graduation_quickordering_system</argument>
            <argument name="resourceModel" xsi:type="string">Graduation\QuickorderingSystem\Model\ResourceModel\Quickorders</argument>
        </arguments>
    </virtualType>
</config>
<!-- 
Configure Data Source UI Component for data provider in dependency injection(di.xml) file 

define the data provider which is the Ticket collection class, table and resourceModel for the table. This source is used in our next step Layout file to get data for grid
We create di.xml in etc/folder.

Database table “ktree_ticketing_system”
Collection "Model\ResourceModel\Tickets\Collection"
Resource Model Ktree\TicketingSystem\Model\ResourceModel\Tickets
File Location : app/code/Ktree/TicketingSystem/etc/di.xml -->
