<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="quickorderingsystem" frontName="quickorderingsystem">
            <module name="Graduation_QuickorderingSystem"/>
        </route>
    </router>
</config>

<!-- 
In node attributes  id - type of the router and admin is for backend
node attributes  id - unique identifier 
node attributes name - _
FrontName -  our module backend route name and its defines the first segment of admin url(it should unique). -->